<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.12/css/dataTables.bootstrap.min.css" rel="stylesheet"/>
    <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>-->
    <!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.12/js/jquery.dataTables.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.12/js/dataTables.bootstrap.min.js"></script>
    <link rel="shortcut icon" href="..\static\favicon.ico" type="image/x-icon" />
    <title>Статистика аккаунтов</title>
    <style>
        .navbar {
            margin-bottom: 0;
            border-radius: 0;
        }
    </style>
</head>
<body>
<div class="p_prldr">
<div class="cssload-body">
		<span>
				<span></span>
				<span></span>
				<span></span>
				<span></span>
		</span>
    <div class="cssload-base">
        <span></span>
        <div class="cssload-face"></div>
    </div>
</div>
<div class="cssload-longfazers">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
</div>
</div>

<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li><a href="/average">Средние данные</a></li>
                <li><a href="/equalsAcc">Сравнить профили</a></li>
                <li><a href="/followers">Подписчики/Подписки</a></li>
                <li class="active"><a href="/statistic">Статистика аккаунтов</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href=""><span class="glyphicon glyphicon-log-in"></span> Вход</a></li>
            </ul>
        </div>
    </div>
</nav>
<br/>
<div class="col-sm-6" >
    <!--<table  id="example" class="table table-striped table-bordered table-hover">-->
    <table  id="example" class="table table-striped table-hover">
        <thead class="thead-inverse">
        <tr>
            <th></th>
            <th>Аккаунт</th>
            <th>Подписчиков</th>
            <th>Лайков в ср.</th>
            <th>Комментов в ср.</th>
            <th>Просмотров в ср.</th>
        </tr>
        </thead>
        <tr th:each="infoAcc : ${infoAccs}">
            <td><img th:width="40" th:height="40" th:src="${infoAcc.getImg()}"/></td>
            <td th:utext="${infoAcc.getFullname()}"/>
            <td th:utext="${infoAcc.getFollowers()}"/>
            <td th:utext="${infoAcc.getLike()}"/>
            <td th:utext="${infoAcc.getComment()}"/>
            <td th:utext="${infoAcc.getView()}"/>
        </tr>
    </table>
</div>


</body>

<script>
    $(function(){
        $("#example").dataTable({
            "aoColumns": [
                { "bSortable": false },
                null,
                null,
                null,
                null,
                null
            ],
            "aaSorting": [[ 2, "desc" ]],
            language: {
                "processing": "Подождите...",
                "search": "Поиск:",
                "lengthMenu": "Показать _MENU_ записей",
                "info": "Записи с _START_ до _END_ из _TOTAL_ записей",
                "infoEmpty": "Записи с 0 до 0 из 0 записей",
                "infoFiltered": "(отфильтровано из _MAX_ записей)",
                "infoPostFix": "",
                "loadingRecords": "Загрузка записей...",
                "zeroRecords": "Записи отсутствуют.",
                "emptyTable": "В таблице отсутствуют данные",
                "paginate": {
                    "first": "Первая",
                    "previous": "Предыдущая",
                    "next": "Следующая",
                    "last": "Последняя"
                },
                "aria": {
                    "sortAscending": ": активировать для сортировки столбца по возрастанию",
                    "sortDescending": ": активировать для сортировки столбца по убыванию"
                }
            }
        })
    });
</script>
</html>